:root {
    --red-color: #e50914;
    --hover-redcolor: rgb(193, 17, 25);
    --border-color: rgb(59, 58, 58);
    --email-bg-color: rgba(23, 23, 23, 0.7);
    --email-border: rgba(246, 238, 238, 0.5);
    --mbl-border: rgb(100, 99, 99);
    --link-gray: #cececc;
    --faq-gray: rgb(49, 49, 49);
    --faq-hover: rgb(63, 63, 63);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;

    font-family: sans-serif;
    color: #fff;
}

a {
    color: #fff;
}

.main button a {
    text-decoration: none;
}

.bg-img {
    height: 600px;
    position: relative;

    background-image: url(images/bg1.png);
    background-size: max(1400px, 100vw);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    /* object-fit: fill; */
}

hr {
    max-width: 100vw;
    border: solid 5px var(--border-color);
}
