footer {
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

footer a {
    font-family: sans-serif;
    font-size: 15px;
    color: var(--link-gray);
}

footer p {
    font-family: sans-serif;
    font-size: 13px;
    color: var(--link-gray);
}

.footer-flex-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* .forth-flex{
    margin-right: 0px;
} */
footer div #footer-lang {
    width: 100px;
    height: 1.8rem;
    background-color: var(--email-bg-color);
    color: white;

    text-align: center;
    font-size: 15px;

    outline: none;
    border: 1px solid white;
    border-radius: 2px;
}



@media screen and (max-width: 1300px) {

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50vh;
    }

    footer a {
        font-size: 14px;
    }
    footer p, div #footer-lang {
        display: none;
    }

}