.second-page-enjoy-tv {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 85vw;
    height: 70vh;
    margin: auto;
    color: white;
}

.second-page-text{
    display: flex;
    flex-direction: column;
    /* padding: 34px 0; */
}

.second-page-text h1 {
    font-size: 3.3em;
    font-weight: 900;

    margin-bottom: 0.5em;
}

.second-page-text p {
    font-size: 1.8em;
}

.second-page-tv {
    position: relative;
}

.second-page-tv .tv-img {
    position: relative;
    width: 480px;
    height: 360px;
    z-index: 10;
}

.second-page-tv .tv-video {
    position: absolute;  /* Following the position of enjoytv-img (parent element) */
    width: 350px;
    height: 320px;
    right: 14%;
    margin-top: 2.5%;
}



@media screen and (max-width: 1350px) {

    .second-page-enjoy-tv {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        max-width: 87vw;
        height: 90vh;
    }
    .second-page-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .second-page-text h1 {
        font-size: 2.7em;
    }

    .second-page-text p {
        font-size: 1.5em;
    }

    .second-page-tv .tv-img {
        width: 400px;
        height: 280px;
    }
    
    .second-page-tv .tv-video {
        width: 300px;
        height: 265px;
    }
}